LOCAL_SMS_MODE=mock
# Set to live only if you want the local functions emulator to send real Twilio SMS:
# LOCAL_SMS_MODE=live
# TWILIO_ACCOUNT_SID=your_account_sid
# TWILIO_AUTH_TOKEN=your_auth_token
# TWILIO_FROM_NUMBER=+15555550123
# MESSAGE_ALLOWED_ORIGIN=http://127.0.0.1:5000
